/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );

$primary-color: #F5FE00;

.nav-colored {
    // background-color: black !important;
    transition: background-color .5s linear;
}

.nav-transparent {
    // background-color: transparent !important;
    transition: background-color .5s linear;
}

.navlink {
    opacity: 1;
    color: white;
    text-decoration: none;
}

.navlink:hover, .active {
    color: $primary-color;
}

.section {
    background-size: cover;
    background-position: center;
}

